@model AllPlayData
@{
    ViewData["Title"] = "Play";
}
<div class="game-panel">
    <div class="row">
        <div class="col-md-4 offset-md-4 game">
            <div id="field">
               
            </div>
            <div class="field" id="enemy-warriors">

            </div>
            <div class="field" id="your-warriors">

            </div>
            <div class="atribute-panel">
                <div class="instaliation">
                    <div class="allow" id="instaliation">
                    </div>
                </div>
                <div class="manna">
                    <div class="line"></div>
                </div>
                <div class="helth">
                    <div class="line"></div>
                </div>
            </div>
            <div class="table">
                <div class="card first-card">
                    <img id="Warrior" src="~/img/card/Warrior.png" />
                </div>
                <div class="card second-card">
                    <img id="Fairy" src="~/img/card/Fairy.png" />
                </div>
                <div class="card third-card">
                    <img id="Assasin" src="~/img/card/Assasin.png"  />
                </div>
                <div class="card forth-card">
                    <img id="Dragon" src="~/img/card/Dragon.png" />
                </div>
                <div class="card fifth-card">
                    <img id="Slice" src="~/img/card/Slice.png" />
                </div>
                <div class="card sixth-card">
                    <img id="Paladin" src="~/img/card/Paladin.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="result">
        <div class="row">
            <div class="col-md-4 offset-md-4 menu">
                <div class="player-king">
                    <img src="~/svg/Flags.svg" />
                    <div class="player-reqest">
                        <img src="~/svg/Korona.svg" />
                        <h1 id="result"></h1>
                        <p class="experience"><img src="~/svg/star.svg"/><span >0</span></p>
                    </div>
                </div>
                <img class="emphasize-buttons" src="~/svg/backline.svg" />
                <div class="menu-buttons">
                    <form asp-controller="Home" asp-action="Play">
                        <input class="experience" name="experience" readonly value="0" />
                        <button type="submit" class="nav-link"><img class="back" src="~/svg/swoard.svg" />Назад</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    @section Scripts
    {
        <script>
            //ГЛОБАЛЬНО!!!

            //Присваиваем карту сражений для элемента с классом .game
            $(".game").addClass("@Model.PlayerMap");
            //Присваиваем время
            var gameTime = @Model.PlayerSpeed;
            //Присваиваем размер поля боя
            var gameSize = document.getElementById("field").getBoundingClientRect();
            //Присваиваем размер поля вставки бойцов
            var gameInit = document.getElementById("instaliation").getBoundingClientRect();
            //Присваиваем переменную окончания/паузы игры
            var gameEnd = false;
            //Массивы для ваших и вражеских бойцов
            var YourFighters = [];
            var EnemyFighters = [];
            //Присваиваем все значения наших бойцов (имя, здоровье, атака....) в dataFighters
            var dataFighters = @Html.Raw(Json.Serialize(@Model.AllEntity));
        </script>
        <script src="~/js/game.js"></script>
        <script src="~/js/card.js"></script>
    }
